.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
.profile__image:hover:before{
  block-size: 120px;
  inline-size: 120px;
  top: 60px;
  left: 60px;
  position: absolute;
  z-index:1;
  height: 120px;
  content:"";
  position: relative;
  background-image: url("https://a.d-cd.net/kW1-KRonjrr8vgDQiVwrsTbF7hY-1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.profile__image:hover{
  display: block;
  block-size: 120px;
  inline-size: 120px;
  background-color: rgb(1,1,1);
}